
upstream backend {
    # generic port range should be possible with https://openresty.org/en/
   
    server host.docker.internal:${FAILOVER_PORT_1} fail_timeout=5s max_fails=1;
    server host.docker.internal:${FAILOVER_PORT_2} backup;
    server host.docker.internal:${FAILOVER_PORT_3} backup;
}

server {
    listen ${PORT};
    location / {
        proxy_pass http://backend;
        proxy_next_upstream http_500;
    }
}
